{% extends "layout.html" %}
{% block content %}
  <!-- MAIN PAGE CONTENT -->
  <div class="row">
    <div class="col-lg">
      <h1> OSS Contribution report </h1>
      <p>
        This report details contributions on Github in the last 90 days. There are many
        caveats to consider when using this as an answer to the question "what open source stuff
        has this user been working on?".
      </p>
    </div>
  </div>

  <!-- Vue component that creates job cards -->
  <div class="row">
    <div class="col-lg">
        <div id="app"></div>
    </div>
  </div>
{% endblock %}
